body {
    color: white;
    background-color: #ad9bff;
    font-family: 'Noto Sans JP', sans-serif;
}

.base {
    color: white;
    background-color: #ad9bff;
    font-family: 'Noto Sans JP', sans-serif;
    background-repeat: repeat;
}